{% extends 'main.html' %}
{% load static %}

{% block content %}
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <h1 class="about_taital">About Our Castor Oil</h1>
         <p class="about_text">
            Our castor oil is crafted from wild-grown seeds, handpicked and sun-dried, then cold-pressed to preserve purity. This traditional process ensures a raw, unrefined oil with a rich, nutty aroma and exceptional cleanliness throughout. Nature’s finest, delivered in every drop.
         </p>
         <div class="about_main">
            <img src="{% static 'images/img-4.png'%}" class="image_5">
         </div>
         <div class="read_bt_1"><a href="#">Read More</a></div>
      </div>
   </div>
   <!-- about section end -->
{% endblock %}
   